<%- include('partials/headertwo') %>

	<div class="container-fluid">
		<div class="row">

			<div class="col-sm-6 d-none d-sm-block text-right">
				<button type="button" class="btn btn-info shadow" data-toggle="modal" data-target="#Newproduct">
					<i class="fas fa-plus fa-lg"></i>&nbsp &nbsp Add New Product
				</button>
			</div>

			<div class="col-sm-6 d-none d-sm-block">
				<div class="col-sm-6 d-none d-sm-block">
					<form class="form-inline" action="/secrets" method="GET">
						 <input class="form-control shadow" type="text" name="search" placeholder="Product search ...">
						 <button class="btn btn-info shadow-lg" type="submit" value="Search"><i class="fas fa-search"></i></button>
	        </form>
				</div>
					<a href="/notification">
						<i style="color: black;" class="fas fa-bell fa-2x"></i>
					</a>
					<p> <%= count %> </p>
      </div>

      <div class="col-12 d-block d-sm-none mb-1">
        <button type="button" class="btn btn-info shadow btn-block" data-toggle="modal" data-target="#Newproduct">
          <i class="fas fa-plus fa-lg"></i>&nbsp &nbsp Add New Product
        </button>
      </div>

      <div class="col-12 d-block d-sm-none">
        <form class="form-inline" action="/secrets" method="GET">
          <div class="col-1"></div>
          <div class="col-9 text-right pr-0">
            <input class="form-control shadow" type="text" name="search" placeholder="Product search ...">
          </div>
            <button class="btn btn-info shadow-lg" type="submit" value="Search"><i class="fas fa-search"></i></button>
        </form>
      </div>

			<div class="col-sm-6 d-none d-sm-block">

      </div>

		</div>



		<div class="row mt-2">
      <% for (let i = 0; i < item.length; i++) { %>
			<div class="col-md-3 col-sm-4  col-12 mt-2 mb-2">
				<div class="card shadow-lg bg-light rounded">
  				<img class="card-img-top w-75 d-block mx-auto shadow-lg pt-1 bg-light rounded" src="/images/tim-swaan-eOpewngf68w-unsplash.jpg" alt="Card image cap">
  				<div class="card-body">
    				<h5 class="card-title"><%=item[i].name%></h5>
  				</div>
  				<ul class="list-group list-group-flush">
    				<li class="list-group-item">Quantity &nbsp : &nbsp
							<span style="color: black">
								<%= item[i].quantity %>
								<span style="color: red">
						  	<%if (item[i].quantity < item[i].minSet) { %>
									(below minimum)
								<% }; %>
								</span>
							</span></li>
  				</ul>

  				<div class="row mt-1 p-1">
							<div class="col-12 d-block d-sm-none mb-1">
								<button type="button" class="btn btn-info shadow btn-block" data-toggle="modal" data-target="#Newproduct1">
									<i class="fas fa-plus fa-lg"></i>&nbsp &nbsp Add New Product
								</button>
							</div>

							<div class="col-sm-6 d-none d-sm-block text-right">
								<button type="button" class="btn btn-info shadow" data-toggle="modal" data-target="#Newproduct1">
									<i class="fas fa-plus fa-lg"></i>&nbsp &nbsp Change Quantity
								</button>
							</div>

  						<!-- <form action="/change" method="post">
                <div class="row">
                  <div class="col-6">
            				<input type="number" class="form-control" id="quantity" name="first" placeholder="Enter Quantity">
                  </div>
                  <div class="col-6">
										 <button class="btn btn-outline-success btn-block" type="submit" value= "<%= item[i]._id %>" name="button1">Submit</button>
                  </div>
                </div>
         			</form>
         		</div> -->
            <div class="col-3"></div>
         		<div class="col-6">
							<form class="" action="/delete" method="post">
								<button class="btn btn-outline-danger btn-block mt-1 shadow rounded" type="submit" value= "<%= item[i]._id %>" name="delete1">Delete</button>
							</form>
            </div>
         	</div>
				</div>
			</div>
      <% } %>
    </div>

		<!--Product Modal -->
		<div class="modal fade" id="Newproduct" tabindex="-1" role="dialog" aria-labelledby="Newproduct" aria-hidden="true">
  		<div class="modal-dialog modal-dialog-centered" role="document">
    		<div class="modal-content">
      		<div class="modal-header">
        		<h5 class="modal-title" id="exampleModalLongTitle">Add New Product</h5>
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          		<span aria-hidden="true">&times;</span>
        		</button>
      		</div>
      		<div class="modal-body">
        		<form action="/secrets" method="post">
          		<div class="form-group">
            		<label for="recipient-name" class="col-form-label">Product Name</label>
            		<input type="text" class="form-control" id="quantity" name="input1">
         			</div>
          		<div class="form-group">
            		<label for="recipient-name" class="col-form-label">Quantity</label>
            		<input type="number" class="form-control" id="quantity" name="input2">
         			</div>
							<div class="form-group">
            		<label for="recipient-name" class="col-form-label">Min Quantity Alert</label>
            		<input type="number" class="form-control" id="quantity" name="input3">
         			</div>
							<div class="modal-footer">
		        		<button type="submit" class="btn btn-info shadow rounded">Save changes</button>
		      		</div>
         		</form>
      		</div>
  			</div>
		  </div>
    </div>

		<!--Change Product Modal -->
		<div class="modal fade" id="Newproduct1" tabindex="-1" role="dialog" aria-labelledby="Newproduct" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">Change the Quantity</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form action="/secrets" method="post">
							<div class="form-group">
								<label for="recipient-name" class="col-form-label">+ Qunatity</label>
								<input type="text" class="form-control" id="quantity" name="inputNew1">
							</div>
							<div class="form-group">
								<label for="recipient-name" class="col-form-label">- Quantity</label>
								<input type="number" class="form-control" id="quantity" name="inputNew2">
							</div>
							<div class="form-group">
								<label for="recipient-name" class="col-form-label">Discription</label>
								<input type="text" class="form-control" id="quantity" name="inputNew3">
							</div>
							<div class="modal-footer">
								<button type="submit" class="btn btn-info shadow rounded">Save changes</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	</div>

<%- include('partials/footer') %>
